<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>MyDonate</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <!--<script src="lib/onsen/js/angular/angular.js"></script>-->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  
  <script src="cordova.js"></script>

  <script>
     
  </script>
    <!--<script src="logins.js"></script>-->
    <script src="customers1.js"></script>
  <style>
    .page--menu-page__background {
      background-color: #333;
    }
    
    .page--menu-page__content {
      color: white;
    }

    .menu-close,
    .menu-close > .toolbar-button {
      color: #999;
    }

    .menu-list,
    .menu-item:first-child,
    .menu-item:last-child,
    .menu-item {
      background-color: transparent;
      background-image: none !important;
      border-color: transparent;
      color: #fff;
    }

    .menu-item {
      padding: 0 0 0 20px;
      line-height: 52px;
      height: 52px;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    }

    .menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-notification {
      display: inline-block;
      margin-top: 12px;
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      min-width: 16px;
      font-weight: 600;
    }

    .bottom-menu-list,
    .bottom-menu-item:first-child,
    .bottom-menu-item:last-child,
    .bottom-menu-item {
      border-color: #393939;
      background-color: transparent;
      background-image: none !important;
      color: #ccc;
    }

    .bottom-menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
	
	.reply-notification {
  position: absolute;
  right: 18px;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}
  </style>
  
</head>

<body>    
  
  <ons-sliding-menu
    menu-page="menu.html" main-page="login.html" side="left"
    var="menu" type="reveal" max-slide-distance="260px" swipeable="true">
  </ons-sliding-menu>

  <ons-template id="menu.html">
    <ons-page modifier="menu-page">
      <ons-toolbar modifier="transparent"></ons-toolbar>

      <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('aboutus.html', {closeMenu: true})">
          <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
          About MyDonate
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('agents.html', {closeMenu: true})">
          <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
          About MyDonates and Us
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('agentcustomers.html', {closeMenu: true})">
          <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
          My Donations
        </ons-list-item>

	<ons-list-item class="menu-item" ng-click="menu.setMainPage('agentcustomers.html', {closeMenu: true})">
          <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
          Events Bulletin
        </ons-list-item>
      </ons-list>

      <br>

      <ons-list class="bottom-menu-list">
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('help.html', {closeMenu: true})">
          Help
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true})">
          Logout
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-template>

  <ons-template id="login.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Login to MyDonate</div>
      </ons-toolbar>

      <ons-row style="margin-top: 20px; text-align: center;">
        <ons-col>
            <div class="login-form" ng-app="app" ng-controller="LoginController as login">
                <img src="logo.jpg" />
                <input type="text" class="text-input--underbar" ng-model="login.mcode" placeholder="Username" value="">
                <input type="password" class="text-input--underbar" ng-model="login.password" placeholder="Password" value="">
                <br><br>
                <ons-button modifier="large" class="login-button" ng-click="login.pay()">Log In</ons-button>
                <br><br>
                <!--<ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>-->
            </div>
            
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>

    <ons-template id="aboutus.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">About MyDonate</div>
            </ons-toolbar>


            <ons-row style="margin-top: 100px; text-align: center;">
                <ons-col>
                    We work with governments, civic leaders, celebrities, corporations,
                    campus groups, teachers and people just like you; anyone willing to
                    help us advocate for the survival and well-being of every child.
                    <br /><br />
                    <img ng-click="menu.setMainPage('customers.html', { closeMenu: true });" style="width:50%" src="btn-donatenow.png" />
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>

  <ons-template id="help.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Help</div>
      </ons-toolbar>


      <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
          Help
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>
  
  <ons-template id="customers.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Categories</div>
      </ons-toolbar>


      <ons-row style="margin-top: 5px; text-align: center;">
        <ons-col>
            <ons-list class="timeline" modifier="inset" ng-app="app" ng-controller="CustomerController">
                <ons-list-item class="timeline-li" modifier="tappable" ng-click="menu.setMainPage('listoforg.html', { closeMenu: true });">
                    <ons-row>
                        <ons-col>
                            <div class="timline-from">
                                <span class="timeline-name">Orphanage</span>
                                <span class="timeline-id"></span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
		<ons-list-item class="timeline-li" modifier="tappable">
                    <ons-row>
                        <ons-col>
                            <div class="timline-from">
                                <span class="timeline-name">Old Folks Home</span>
                                <span class="timeline-id"></span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
		<ons-list-item class="timeline-li" modifier="tappable">
                    <ons-row>
                        <ons-col>
                            <div class="timline-from">
                                <span class="timeline-name">Halfway Home</span>
                                <span class="timeline-id"></span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
		<ons-list-item class="timeline-li" modifier="tappable">
                    <ons-row>
                        <ons-col>
                            <div class="timline-from">
                                <span class="timeline-name">Single Parents</span>
                                <span class="timeline-id"></span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
		<ons-list-item class="timeline-li" modifier="tappable">
                    <ons-row>
                        <ons-col>
                            <div class="timline-from">
                                <span class="timeline-name">Animal Shelter</span>
                                <span class="timeline-id"></span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
		<ons-list-item class="timeline-li" modifier="tappable">
                    <ons-row>
                        <ons-col>
                            <div class="timline-from">
                                <span class="timeline-name">Emergency Relieve</span>
                                <span class="timeline-id"></span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
		<ons-list-item class="timeline-li" modifier="tappable">
                    <ons-row>
                        <ons-col>
                            <div class="timline-from">
                                <span class="timeline-name">Society (Cancer, Home buyers, Drug abuse, etc)</span>
                                <span class="timeline-id"></span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>

    <ons-template id="listoforg.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">List Of Organisations</div>
            </ons-toolbar>


            <ons-row style="margin-top: 5px; text-align: center;">
                <ons-col>
                    <ons-list class="timeline" modifier="inset" ng-app="app" ng-controller="CustomerController">
                        <ons-list-item class="timeline-li" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                    <div class="timline-from">
                                        <span class="timeline-name">Faith Home</span>
                                        <span class="timeline-id"></span>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item class="timeline-li" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                    <div class="timline-from">
                                        <span class="timeline-name">Rumah Care</span>
                                        <span class="timeline-id"></span>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item class="timeline-li" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                    <div class="timline-from">
                                        <span class="timeline-name">Canossa  Welfare Centre</span>
                                        <span class="timeline-id"></span>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item class="timeline-li" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                    <div class="timline-from">
                                        <span class="timeline-name">Single Parents</span>
                                        <span class="timeline-id"></span>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item class="timeline-li" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                    <div class="timline-from">
                                        <span class="timeline-name">Rumah Kanak-kanak Impian</span>
                                        <span class="timeline-id"></span>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item class="timeline-li" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                    <div class="timline-from">
                                        <span class="timeline-name">Rumah Keluarga Kami</span>
                                        <span class="timeline-id"></span>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item class="timeline-li" modifier="tappable">
                            <ons-row>
                                <ons-col>
                                    <div class="timline-from">
                                        <span class="timeline-name">Assunta Children's Society</span>
                                        <span class="timeline-id"></span>
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                    </ons-list>
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>
  
  <ons-template id="agents.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Agents</div>
      </ons-toolbar>


      <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
         Agents
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>
  
  <ons-template id="agentcustomers.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Agent's Customers</div>
      </ons-toolbar>


      <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
         Agent's Customers
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>
 
</body>
</html>
